html, body {
    height: 100%;
    background-color: beige;
 }
 
 
 .jumbotron {
    border-bottom: 5px solid purple;
    background-color: gainsboro;
    color: black;
    padding: 10;
 }
 
 .start-game {
    display: flex;
    justify-content: space-around;
 }
 
 .header {
    display: flex;
    justify-content: space-around;
 
 }


 
 